.container{
    background-color:  #f5f7f8;
    display: grid;
    grid-template-areas: "header header login"
                         "nav nav nav"
                         "nav-lateral main main"
                         "nav-lateral destaques servicos"
                         "footer footer footer";
    grid-gap: 10px;
    grid-template-columns: 2fr 6fr 2fr;      
    grid-template-rows: 120px 50px auto auto 80px;               
}

header{
    grid-area: header;
    background-color:  #195128;
    margin-top: 10px;
    margin-left: 10px;
}
header img{
    margin: 10px;
}

.login{
    grid-area: login;
    background-color: #195128;
    margin-top: 10px;
}

.login h1{
    font-size: 15px;
    font-family: sans-serif;
    color: #fff;
    margin: 10px;
}

.login label{
    margin-left: 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
}

.login #login{
    margin-left: 5px;
    margin-bottom: 5px;
}   


nav{
    grid-area: nav;
    background-color:  #00420c;
    margin-left: 10px;
    
}

nav ul{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
}

 nav ul li a{
    color: #fff;
    font-family: sans-serif;
    font-size: 13px;
}

aside{
    grid-area: nav-lateral;
}

aside ul{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}

aside ul li a{
    color: black;
    border-bottom: solid rgb(123, 121, 121) 1px;
}

main{
    grid-area: main;
    font-family: sans-serif;
}

main h1{
    color: #00420c;
    background-color: rgb(202, 197, 197);
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    border-top: solid #00420c 2px;
}

main img{
    width: 100%;
}

.titulo-main{
    font-size: 13px;
    color: #00420c;
    margin-bottom: 10px;
    margin-top: 5px;
}

.texto-main{
    font-size: 12px;
    color: #00420c;
    margin-bottom: 30px;
}

.titulos{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    font-size: 10px;
    color: #00420c;
}

.infos{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-size: 12px;
    color: #00420c;
    border-bottom: solid rgb(184, 181, 181) 1px;
}

.destaques{
    grid-area: destaques;
}

.destaques h1{
    color: #00420c;
    background-color: rgb(202, 197, 197);
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid #00420c 2px;
}

.destaques img{
    margin: 7px;
}

.servicos{
    grid-area: servicos;
}

.servicos h1{
    color: #00420c;
    background-color: rgb(202, 197, 197);
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid #00420c 2px;
}

.servicos p{
    color: #00420c;
    font-family: sans-serif;
    font-size: 12px;
    margin: 10px;
}

footer{
    grid-area: footer;
    background-color: #195128;
    font-size: 10px;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    padding: 25px;
}

